$verde_musgo 	: #12813E;
$green_light 	: #04AB4E;
$negro_footer	: #212927;
$grey_dark	 	: #2A3433;
$grey_medium	: #829499;
$grey_light  	: #D4D4D6;
$grey_text	 	: #6E6F73;
$yellow_light	: #FBB839;

.wrapper{
	max-width: 960px;
	margin: 0 auto;
}